body{
    background-color: black;
}

#page-wrapper{

    /* background-color: goldenrod; */
    text-align: center;
}

#heading-wrapper{

    text-align: center;
    color: blueviolet;
    margin-bottom: 0;
}

#name-wrapper{

    font-size: 100px;
    margin-top: 0;
    text-shadow: 3px 3px 1px lightblue;
}

#info-wrapper{

    font-size: 40px;
    font-variant: small-caps;
}

#dev-info-wrapper{

    font-size: 25px;
    font-variant: small-caps;
}

#data-wrapper{

    margin: 50px auto;
    box-shadow: 3px 3px 1px black;
    border: 2px solid white;
    display: inline-block;
    padding: 50px;
    
}

#count{

    font-size: 100px;
    color: blue;
}

.button{

    background-color: blue;
    font-size: 15px;
    padding: 10px;
    margin: 30px;
    font-weight: 600;
    border: 2px solid blueviolet;
    /* box-shadow: 3px 3px 1px lightblue; */
    display: inline-block;
    border-radius: 2cm;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(18, 166, 216);
    font-weight: 1000;
    /* box-shadow: 1px 1px 1px lightseagreen; */
    box-shadow: 0px -2px 5px -1px lightseagreen;
    cursor: pointer;
    transform: scale(1.05);
}